.header{
    font-size: 18px;
    font-weight: bold;
    color:  #dfdfdf;
    text-shadow: 1px 1px 2px black;
    
}

.container00{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img{
    opacity: 1;
}


.arrowDown{
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}

.logoPc{
    width: 240px;
    margin-left: -10px;
    margin-right: 20px;
}

#button{
    padding: $padding-button;
    border: 2px solid white;
}

.downloadDesc{
    background-color: #000000;
    height: 85vh ;
    padding-top: 240px ;



    button{
        border: 2px solid #fff ;
        margin-right: 10px;
    }
}


  .emailObc{
      
        text-decoration:dashed;
        color: #ffffff;
        border-bottom: 1px solid #ffffff ;


        &:hover{
            color: $link-hover ;
            border-bottom: $link-hover ;
        }
    }


.footer{
    background-color: black;
    height: 15vh;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: $link-hover;
        }
    }
}

//Media query
@media (max-width: 449px){
    .downloadDesc{
        button{
            margin: 10px 0px ;
        }
    }
}

@media(max-width: 405px){
    .logoPc{
        width: 180px;
        margin-top: 15px;
    }

    .footer{
        font-size: 10px;
    }
}

@media(max-width: 350px){
    .logoPc{
        width: 150px;
        margin-top: 15px;
    }
}
